/* TODO Add site wide styles */
body {
    background-color: #999999;
}

.huge-bold {
    font-size: 24px;
    font-weight: bold;
}

.big-bold {
    font-size: 18px;
    font-weight: bold;
}

.normal {
    font-size: 14px;
}

/* TODO STYLES
Heading: 24pt, bold
Subheading: 18pt, bold
Normal: 14pt, regular
---
White #FFFFFF
Black #000000
Dark Gray #999999
Light Gray #CCCCCC
Red: #FF5A5F
Teal: #00525E
Light Teal: #E8F0FE
---
Header
Scales to fill browser without elements touching the edges
Logo on the left, and menu or auth buttons on the right
Width: 100%
Height: 70px
Left & right padding: 20px
Vertical alignment of items: centered
2px border in lightgrey (only on the bottom)
Dynamic gap between the logo and whatever is showing on the right
---
Buttons
Font size: normal
Centered text / icon
Pointer cursor shows on rollover
Color Options
Normal: White background with black text and light gray border
Accent: Dark gray background with white text and black border
Primary Action: Red background with white text and black border
---
Menu Box
Example dropdown menu box:

menu-box

Square corners
1px border with drop shadow
Regular font size for text
Text items left-aligned
Button centered
Button background dark gray with white text
Box shows just below the menu button (2 to 5 pixel gap)
Box right-aligned with right edge of user menu button (20px from right)
Box moves over page as the browser is resized
Box width grows to fit each line of content (for demo user the first name is longest, but for other user's that might be the email address)
---
Modal Popup Windows
Example popup Modal window:

modal-popup

Semi-transparent, black background covering whole page
Position the window 100px from top and centered (auto margins) left to right
Rounded corners
Centered title
Decent margin around content (20 pixels more or less)
Input fields using light teal background
Input fields using placeholder text for their labels
Even spacing between inputs and buttons
Enabled button styled with red background and 100% width
Disabled button with white background and light grey text & border
Link in dark teal which shows underline and mouse pointer cursor on rollover
*/
