.hidden {
    display: none
}

/* *TEST WRAPPER */
/* #header-content {
    border: 1px dotted blue;
    height: 115px;
} */

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

#header-content__home {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: black
}

#header-content__create-spot {
    color: black;
}

#header-content__buttons {
    display: flex;
    gap: 5px;
}

/*!! this looks hella ugly */
/* #profile-container {
    display: flex;
} */

#header-logo {
    font-size: 24px;
    font-weight: bolder;
}

#login-signup-modal:hover {
    cursor: pointer;
}


#home-logo {
    display: flex;
    flex-direction: column;
}
